#testForm{
  font-family:Microsoft JhengHei;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 50px;
  font-size: 14px;

}
select, option, input{
  font-family:Microsoft JhengHei;
  font-weight: bolder;
  color: white;
  background-color: #3a3f44;
  border-radius: 5px;
  border-left: solid rgba(255, 255, 255, 0.1) 1px;
  border-right: solid rgba(0,0,0,0.2) 1px;
  border-top: solid rgba(255, 255, 255, 0.1) 1px;
  border-bottom: solid rgba(0,0,0,0.2) 1px;

}
